* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 3rem;
}

.app {
  &-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    form, .app-account__ops-input {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
    }

    .input-wrap {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    input,select{
      padding: 0.25rem;
    }

    button{
      padding: .25rem .5rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    h4{
      padding: 1rem 0; 
    }
  }

  &-create-customer, &-account {
    padding: 2rem;
    background: rgb(234, 232, 232);
  }

  &-balance{
    padding: 1rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    background: rgb(234, 232, 232);
    font-size: 1.5rem;
    font-weight: 600;
  }
}
